@import url("https://fonts.googleapis.com/css?family=Roboto");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@media screen and (min-width: 500px) {
  .app .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 10%; }
    .app .main .headshot {
      width: 125px; }
    .app .main .details {
      width: 70%;
      text-align: right;
      align-self: flex-start; }
      .app .main .details .name {
        font-size: 1.6rem; }
      .app .main .details .title {
        font-size: .8rem; }
  .app .about {
    padding: 10px 10%; }
    .app .about h1 {
      margin: 10px auto;
      font-size: 1.2rem;
      font-weight: 600;
      letter-spacing: 10px; }
    .app .about .skills > h1 {
      font-size: 1.0rem;
      letter-spacing: 0; }
    .app .about p {
      font-size: 1rem;
      margin: 10px auto; }
  .app .portfolio {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 150px; }
    .app .portfolio h1 {
      margin-top: 20px;
      margin-bottom: 40px;
      font-size: 1.2rem; }
    .app .portfolio .projects-container {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 20px; }
      .app .portfolio .projects-container .project-info {
        margin: 20px 0;
        width: 50%; }
        .app .portfolio .projects-container .project-info .project-name {
          margin-bottom: 10px;
          font-size: .8rem;
          color: #222023; }
          .app .portfolio .projects-container .project-info .project-name .first-letter {
            font-size: 1rem;
            font-weight: 700;
            color: #6EAD44; }
        .app .portfolio .projects-container .project-info .project-image-container {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center; }
  .app .footer {
    font-size: .7rem; }
    .app .footer ul {
      padding: 15px; }
      .app .footer ul li {
        display: inline; }
  .app .languages {
    margin-top: 10px; }
  .app .technologies {
    margin-top: 5px;
    margin-bottom: 15px; }
  .modal-container {
    width: 45%;
    margin: 0 auto;
    display: flex;
    flex-direction: column; } }

@media screen and (min-width: 700px) {
  .app > .portfolio > .projects-container > .project-info {
    width: 30%; } }

*,
html,
body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; }

.app {
  text-align: center;
  width: 100%; }

.main {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #393939; }
  .main .headshot {
    width: 45%; }
  .main .name {
    margin-top: 25px;
    font-size: 1.8rem;
    color: #EFEDF0; }
  .main .title {
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 100;
    color: #6EAD44;
    letter-spacing: 2px; }

.about {
  padding: 25px 25px;
  background: #EFEDF0;
  font-size: 1.2rem;
  line-height: 1.6rem; }
  .about h1 {
    margin: 25px auto;
    font-size: 2.4rem;
    font-weight: 600;
    color: #4E4A49; }
  .about p {
    text-align: left;
    color: #222023; }
    .about p em {
      color: #6EAD44; }

.portfolio {
  background: #CECCCF;
  padding-top: 25px;
  padding-bottom: 25px; }
  .portfolio h1 {
    margin: 25px auto;
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: 10px;
    color: #4E4A49; }
  .portfolio .project-info {
    margin-top: 25px;
    margin-bottom: 25px; }
    .portfolio .project-info .project-name {
      margin-bottom: 10px;
      font-size: 1.2rem;
      color: #222023; }
      .portfolio .project-info .project-name .first-letter {
        font-size: 1.8rem;
        font-weight: 700;
        color: #6EAD44; }
    .portfolio .project-info .project-image-container .project-image {
      width: 80%; }
    .portfolio .project-info .project-image-container:hover {
      cursor: pointer; }

.footer {
  background: #393939;
  color: #6EAD44; }
  .footer ul {
    text-align: left;
    padding: 25px 5%; }
    .footer ul li {
      margin: 0 5px 5px 5px;
      vertical-align: center; }
      .footer ul li a {
        color: #6EAD44;
        text-decoration: none; }
        .footer ul li a:hover {
          color: #EFEDF0;
          cursor: pointer; }

.modal-container .modal-image {
  width: 100%; }

.modal-container .links {
  display: flex;
  justify-content: space-around;
  width: 100%; }
  .modal-container .links a {
    display: inline-block;
    text-align: center;
    width: 30%;
    height: 50px;
    padding-top: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: #393939;
    text-decoration: none;
    color: #6EAD44;
    font-size: 1.1rem; }
    .modal-container .links a:hover {
      color: #EFEDF0;
      cursor: pointer; }

.modal-container h1 {
  margin-bottom: 15px;
  color: #393939;
  font-size: 1.4rem;
  text-shadow: -1px 0 #EFEDF0, 0 1px #EFEDF0, 1px 0 #EFEDF0, 0 -1px #EFEDF0; }

.modal-container .description {
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
  color: #393939;
  font-size: 1.2rem;
  line-height: 1.6rem; }

.about > .skills {
  text-align: left; }
  .about > .skills h1 {
    font-size: 1.6rem; }
  .about > .skills svg {
    width: 30px;
    height: 30px;
    margin: 5px; }
    .about > .skills svg.react {
      fill: #037DD6; }
    .about > .skills svg.express {
      width: 40px;
      height: 40px;
      fill: #037DD6; }
  .about > .skills .redux-logo {
    display: inline-block;
    height: 40px; }
